.loading {
	display: inline-block;
	overflow: hidden;
	height: 1.3em;
	line-height: 1.5em;
	vertical-align: text-bottom;
    margin: -0.3em 0.3em 0;
}

.loading::after {
	display: inline-table;
	white-space: pre;
	text-align: left;
}

.loading.dots::after {
	content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
	animation: spin10 1s steps(10) infinite;
}

@keyframes spin10 {
	to {
		transform: translateY(-15em);
	}
}
